<!DOCTYPE html>

<html>

    <head>
        <title>CI-CD Implementation</title>
        <style>
            a {
                text-decoration: none;
                color: black;
            }

        </style>
    </head>

    <body>
        <h1>BATCH C3 is just Amazing & Awesome</h1>
        <p>We have implemented it for our CC SCE </p>

        
    </body>

</html>
